<div  class="w-96 justify-center  flex flex-row">
  <div  class="w-80 bg-blue-100 text-center" >
    <h1 mat-dialog-title  class="text-3xl">Stock Details</h1>
    <div mat-dialog-content  class="justify-center   flex flex-col">
      <p><strong>ID:</strong> {{ stock.id }}</p>
      <p><strong>Name:</strong> {{ stock.name }}</p>
      <p><strong>Cusip:</strong> {{ stock.cusip }}</p>
      <p><strong>Sector:</strong> {{ stock.sector }}</p>
      <p><strong>Price:</strong> ${{ stock.price }}</p>
      <p><strong>Market Cap:</strong> {{ stock.marketCap }}</p>
      <p><strong>Description:</strong> {{ stock.description }}</p>
    </div>
    <!-- <div mat-dialog-actions>
      <button mat-icon-button (click)="closeDialog()"
      class="close-button">
      <mat-icon>X</mat-icon>
    </button>
    </div> -->

    <mat-dialog-actions>
       <button mat-button  class="close-button" [mat-dialog-close]="true">close</button>
    </mat-dialog-actions>

  </div>

</div>


